 
.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    
}
 
body{
  overflow: hidden
}
input {
  height:100%;
  width:50%;
}
.sidebar h2{
   margin:10px;
   width: 100%;
}
.sidebar input {
    width: 100%;
 }
 
 

.logo{
    width: 100%;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #2196F3;
  display: block;
}

.sidebar a:hover {
  color: #064579;
}

.center {
  text-align: center;
  color: red;
  margin-top: 250px;
  width: 100%;
  padding: 10px;
  font-size: larger;
  
}
  