{% extends "sidemenu.html" %}

{% block body %}
    <br>
    <h4> Details:</h4>
    {% if articles_details  %}
    <h2>{{articles_details.title}}</h2>
    <p> {{articles_details.content}}</p>
    {% else %}
    <div>
        <h1>No</h1>
    </div>
    {% endif %}
   
{% endblock %}