{% extends "sidemenu.html" %}


{% block title %}
    Create Page
{% endblock %}


{% block body %}

<form  action="/save_article_form_data"  method="post">
    <br>
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" placeholder="Enter Title">
    <br>
    <br>
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="15" cols="150"  placeholder="Enter Content"></textarea><br><br>

    {% if details %}
    <div class="center">
        <p>{{details}}</p>
    </div>
    {% else %}
    <div></div>
    {% endif %}
    <div style="text-align: center;">
        <button type="submit" value="Submit">Submit</button>
    </div>

</form>

{% endblock %}
details