{% extends "sidemenu.html" %}

{% block title %}
    home
{% endblock %}

{% block body %}
    <br>
    <h4> Welcome to Qwikipedia!</h4>
    <p>Qwikipedia is a wikipedia-like website, made as a student project for web course</p>
    {% if articles|length > 0 %}
    <h3>All Articles</h3>
    {% else %}
    <div></div>
    {% endif %}
    <ul>
        {% for article in articles %}
        <li>
            <a href ="details/{{article.title}}"> {{article.title}}</a>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
