
<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Qwikipedia: {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}">
    </head>
    <body>
        <div class="row">
            <div class="sidebar col-lg-2 col-md-3">
                <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Wikipedia-logo-v2-en.svg/1200px-Wikipedia-logo-v2-en.svg.png" alt="wiki.com">
                <h2> Qwikipedia</h2>

                <form   action="/search/" method="get">
                    <div class="input-group mb-3">
                        <input type="search" class="form-control" id="query" name="query" placeholder="Search.." >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary"  type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </form>
                    <div >
                        <a href="/">Home</a>
                        <a href ="/create">Create Article</a>
                    </div>
            </div>
            <div class="main col-lg-10 col-md-9">
                <!-- Main Page Body -->
                {% block body %}
                {% endblock %}
            </div>
            
        </div>

    </body>
</html>